.logo{
    width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.navbar-brand{
    font-family: 'Lucida Grande';
    font-size: 30px;
    padding: 10px;
    color: white;
    
}

.nav-link{
    color: rgb(255, 255, 255);
    font-family: "Lucida Grande";
    font-size: 20px;
}

#contenedor-tareas-mias{
    box-shadow: 0px 0px 103px -22px rgba(0, 0, 0, 0.788);
    background-color: rgb(176, 238, 192);
}

#contenedor-tareas-todas{
    box-shadow: 0px 0px 103px -22px rgba(0, 0, 0, 0.788);
    background-color: rgb(243, 183, 161);
}

.container{
    box-shadow: 0px 0px 103px -22px rgba(0, 0, 0, 0.788);
}

.p-4{
    box-shadow: 0px 0px 103px -22px rgba(0, 0, 0, 0.788);
}

body{
    font-family: "Lucida Grande";
}

#botonCerrarSesion{
    color: black;
}

#botonIniciarSesion{
    color: black;
}

#botonRegistrarse{
    color: black;
}

.navbar-brand{
    color: black;
}

#botonPerfil{
    color: black;
}

.perfilImg{
    width: 300px;
    box-shadow: 0px 0px 103px -22px rgba(0, 0, 0, 0.788);
}

.modal-header{
    background-color: rgba(248, 139, 161, 0.767);
}



.card{
    background-color: #D7C3AB;
}

body{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.carrusel{
   width: 100%;
 
}

#carouselExampleAutoplaying{
    width: 100%;
    padding: 30px;
}

footer{
    box-shadow: 0px 0px 103px -22px rgba(0, 0, 0, 0.788);
}

